@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

/* Individual elements  */

.media-scroller {
  --spacer: var(--size-3);

  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  /* 
  use 20%/25%/50% to make the content flow fit the container (padding isn't included)
  grid-auto-columns: 25%; 
  */

  padding: 0 var(--spacer) var(--spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* Elements groups  */

.media-scroller--with-groups {
  /* border: 2px solid hotpink; */
  grid-auto-columns: 80%;
  /* 
  use 100% to make the content flow fit the container
  grid-auto-columns: 100%; 
  */
}

.media-group {
  /* border: 2px solid limegreen; */
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
}

/* Scrollbar */

.media-scroller::-webkit-scrollbar {
  width: 2em;
  height: 1em;
}

.media-scroller::-webkit-scrollbar-track {
  /* background: rgba(166, 169, 172, 0.5); */
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: rgba(52, 58, 64, 0.8);
  border: 0.25em solid rgba(166, 169, 172, 0.5);
  border-radius: 100vw;
}

.media-scroller::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 58, 64, 0.5);
}

@supports (scrollbar-color: red blue) {
  .media-scroller {
    /* scrollbar-color: rgba(52, 58, 64, 0.8) rgba(166, 169, 172, 0.5); */
    scrollbar-color: rgba(52, 58, 64, 0.8) transparent;
    scrollbar-width: thin;
  }
}
